/* #region Imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

/* #endregion */

/* #region Variables */

:root {
  --primary: #CAA14C;
  --secondary: #1E2831;
  --support: #FFFFFF;
}

/* #endregion */

/* #region Reset */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

/* #endregion */

/* #region Base Styles */

body {
  background: var(--support);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.section-spacing {
  margin: 4rem 0;
}

.grid {
  display: grid;
}

.grid-item {
  padding: 1rem 0;
}

.flex {
  display: flex;
}

.flex-item {
  padding: 1rem 0;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-support {
  color: var(--support);
}

.text-bold {
  font-weight: 600;
}

.button {
  background: transparent;
  display: inline-block;
  padding: 1em 3em;
  text-transform: uppercase;
}

.button-primary-positive {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.button-primary-positive:hover {
  background: var(--primary);
  color: var(--support);
}

.button-primary-negative {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support);
}

.button-primary-negative:hover {
  background: var(--support);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.button-secondary-positive {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-secondary-positive:hover {
  background: var(--secondary);
  color: var(--support);
}

.button-secondary-negative {
  background: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--support);
}

.button-secondary-negative:hover {
  background: var(--support);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-support-positive {
  border: 2px solid var(--support);
  color: var(--support);
}

.button-support-positive:hover {
  background: var(--support);
  color: var(--secondary);
}

.button-support-negative {
  background: var(--support);
  border: 2px solid var(--support);
  color: var(--secondary);
}

.button-support-negative:hover {
  background: var(--secondary);
  border: 2px solid var(--support);
  color: var(--support);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.6em;
}

label {
  font-size: 1.6em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

li {
  font-size: 1.2em;
}

a.button {
  font-size: 1em;
}

a.link {
  font-size: 0.8em;
}

h1, h2, h3, h4, label, p, li, a, span {
  font-weight: 300;
}

/* #endregion */

/* #region Mobile Styles */

body {
  font-size: 10px;
}

.grid {
  grid-template-columns: repeat(12, 1fr);
}

header {
  background-color: var(--support);
}

#navbar {
  padding: 2em 0;
}

#navbar .logo {
  grid-column: 2 / span 4;
}

#navbar .menu {
  display: none;
}

#navbar .menu a.link {
  color: var(--secondary);
  padding: 2em 1em;
}

#navbar .menu a.link:hover {
  color: var(--primary);
}

#navbar .menu a.button {
  font-size: 0.8em;
  padding: 0.75em 1.5em;
}

#navbar .menu .dropdown {
  display: inline-block;
  position: relative;
}

#navbar .menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--support);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 1em;
  min-width: 160px;
  z-index: 1;
}

#navbar .menu .dropdown-content li {
  font-size: 1em;
}

#navbar .menu .dropdown-content a {
  display: block;
  color: var(--secondary);
  padding: 1em;
  text-decoration: none;
}

#navbar .menu .dropdown-content a:hover {
  color: var(--primary);
}

#navbar .menu .dropdown:hover .dropdown-content {
  display: block;
}

#navbar .menu .dropdown .fa-chevron-down {
  color: var(--secondary);
  font-size: 0.7em;
  padding-left: 0.25em;
}

#navbar .menu .dropdown:hover .fa-chevron-down,
#navbar .menu .dropdown .fa-chevron-down:hover {
  color: var(--primary);
  cursor: pointer;
}

#banner {
  background-color: var(--support);
}

#banner .content {
  grid-column: 2 / span 10;
  align-items: stretch;
  justify-content: flex-end;
  padding: 0 5.5em 5.5em 2em;
  min-height: 125vmin;
  background-image: url("../img/img_7.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  box-shadow: inset 0 -20em 10em -10em var(--secondary);
}

#kawahvillas-objective {
  background-color: var(--support);
}

#kawahvillas-objective .content {
  grid-column: 3 / span 8;
  justify-content: center;
}

#kawahvillas-objective .content img {
  width: 75px;
}

#kawahvillas-objective .content h2 {
  padding: 1em 0;
}

#kawahvillas-objective .content p {
  padding: 1em 0;
}

#kawahvillas-mission {
  background-color: var(--secondary);
  padding: 3em 0;
}

#kawahvillas-mission .content-header {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
}

#kawahvillas-mission .content-header h2 {
  font-size: 1.4em;
  text-transform: uppercase;
}

#kawahvillas-mission .content-images {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
}

#kawahvillas-mission .content-images .image-with-text {
  max-width: 50%;
  min-height: 75vmin;
  object-fit: cover;
}

#kawahvillas-mission .content-images .image-with-text:nth-child(1) {
  padding-right: 0.5em;
}

#kawahvillas-mission .content-images .image-with-text:nth-child(2) {
  padding-left: 0.5em;
}

#kawahvillas-mission .content-body {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-story {
  grid-template-rows: auto;
  background-color: var(--support);
}

#kawahvillas-story .content-header {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
}

#kawahvillas-story .content-header h2 {
  font-size: 1.4em;
  text-transform: uppercase;
}

#kawahvillas-story .image-with-text {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  min-height: 75vmin;
  object-fit: cover;
}

#kawahvillas-story .content-body {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-explore-villas {
  background-color: var(--support);
}

#kawahvillas-explore-villas .content {
  grid-column: 2 / span 10;
  align-items: center;
  justify-content: center;
  min-height: 125vmin;
  background-image: url("../img/img_51.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#kawahvillas-explore-villas .content h2 {
  font-size: 1.4em;
  text-align: center;
}

#kawahvillas-explore-villas .content h3 {
  padding: 1em 2em;
  text-align: center;
}

footer {
  background-color: var(--secondary);
}

#footer-area {
  padding: 3em 0;
}

#footer-area h4 {
  font-size: 1.4em;
  padding: 0 0 1em 0;
}

#footer-area ul {
  padding: 2em 0 2em 0;
}

#footer-area ul li {
  padding: 0 1em 1.5em 0;
}

#footer-area ul li a {
  color: var(--support);
}

#footer-area ul li a:hover {
  color: var(--primary);
}

#footer-area ul li i {
  font-size: 2em;
}

#footer-area .logo {
  grid-column: 3 / span 4;
  grid-row: 1 / 2;
  align-items: center;
  padding: 1em 0 2em 0;
}

#footer-area .logo img {
  height: auto;
  width: 75%;
}

#footer-area .navigation {
  grid-column: 3 / span 4;
  grid-row: 3 / 4;
}

#footer-area .company {
  grid-column: 7 / span 4;
  grid-row: 3 / 4;
}

#footer-area .help {
  grid-column: 3 / span 4;
  grid-row: 4 / 5;
}

#footer-area .follow-us {
  grid-column: 7 / span 4;
  grid-row: 1 / 2;
}

#footer-area .follow-us h4 {
  display: none;
}

#footer-area .follow-us ul {
  justify-content: flex-end;
  align-items: center;
}

#footer-area .line-border {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  border-top: 1px solid var(--primary);
  margin: 0 0 4em 0; 
  width: 100%;
}

#footer-copyright .content {
  grid-column: 3 / span 8;
  border-top: 1px solid var(--primary);
  padding: 3em 0;
}

/* #endregion */

/* #region Tablet Styles */

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  body {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: repeat(180, 1fr);
  }
  
  #navbar .logo {
    grid-column: 13 / span 24;
  }
  
  #navbar .menu {
    display: flex;
    align-items: center;
  }

  #navbar .menu-primary {
    grid-column: 55 / span 71;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  #navbar .menu-secondary {
    grid-column: 136 / span 33;  
    justify-content: space-between;
  }

  #navbar .menu a.button {
    font-size: 0.8em;
    padding: 0.5em 1em;
  }
  
  #banner .content {
    grid-column: 13 / span 156;
    align-items: center;
    justify-content: center;
    padding: 0;    
    min-height: 90vmin;
    box-shadow: none;
  }

  #kawahvillas-objective .content {
    grid-column: 49 / span 84;
    align-items: center;
    text-align: center;
  }

  #kawahvillas-mission .content-header {
    grid-column: 37 / span 50;
    grid-row: 1 / 2;
    align-self: end;
  }

  #kawahvillas-mission .content-body {
    grid-column: 37 / span 50;
    grid-row: 2 / 3;
  }

  #kawahvillas-mission .content-images {
    grid-area: 1 / 95 / span 2 / span 50;
    flex-direction: column;
  }

  #kawahvillas-mission .content-images .image-with-text {
    max-width: 100%;
    min-height: 50vmin;
  }
  
  #kawahvillas-mission .content-images .image-with-text:nth-child(1) {
    padding-bottom: 0.5em;
    padding-right: 0;
  }
  
  #kawahvillas-mission .content-images .image-with-text:nth-child(2) {
    padding-top: 0.5em;
    padding-left: 0;
  }

  #kawahvillas-story .content-header {
    grid-column: 37 / span 54;
    grid-row: 1 / 2;
  }

  #kawahvillas-story .content-body {
    grid-column: 37 / span 108;
    grid-row: 2 / 3;
  }

  #kawahvillas-story .image-with-text {
    grid-column: 37 / span 108;
    grid-row: 3 / 4;
    min-height: 50vmin;
  }

  #kawahvillas-explore-villas .content {
    grid-column: 19 / span 144;
    min-height: 90vmin;
  }
  
  #kawahvillas-explore-villas .content h3 {
    padding: 1em 9em;
  }

  #footer-area {
    padding: 5em 0;
  }
  
  #footer-area .logo {
    grid-column: 19 / span 30;
    grid-row: 1 / 2;
    align-items: flex-start;
    padding: 0;
  }
  
  #footer-area .navigation {
    grid-column: 55 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .company {
    grid-column: 82 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .help {
    grid-column: 109 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .follow-us {
    grid-column: 136 / span 27;
    grid-row: 1 / 2;
  }

  #footer-area .follow-us h4 {
    display: block;
  }
  
  #footer-area .follow-us ul {
    justify-content: stretch;
  }
  
  #footer-area ul li {
    padding: 0 1em 1.5em 0;
  }

  #footer-area .line-border {
    display: none;
  }
  
  #footer-copyright .content {
    grid-column: 19 / span 144;
    padding: 3em 0;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }

  #navbar a.button {
    padding: 0.75em 1.5em;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  body {
    font-size: 16px;
  }

  .grid {
    margin: 0 auto;
    max-width: 1440px;
  }

  .grid-spacing {
    margin: 4em auto;
  }

  #banner .content { 
    min-height: 75vmin;
  }

  #kawahvillas-explore-villas .content {
    min-height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1680px) {
  body {
    font-size: 18px;
  }

  #banner .content { 
    min-height: 60vmin;
  }

  #kawahvillas-explore-villas .content {
    min-height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Desktop Styles */

@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }

  #banner .content { 
    min-height: 45vmin;
  }

  #kawahvillas-explore-villas .content {
    min-height: 45vmin;
  }
}

/* #endregion */