/* #region Mobile Styles */

#banner {
  background-color: var(--support);
}

#banner .content {
  grid-column: 2 / span 10;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10em 6em 2em;
  min-height: 150vmin;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

#kawahvillas-article {
  background-color: var(--support);
}

#kawahvillas-article .content {
  grid-column: 3 / span 8;
}

#kawahvillas-article .content span {
  padding: 0.5rem 0;
}

#kawahvillas-article .content h2 {
  padding: 2rem 0;
}

#kawahvillas-article .content p {
  color: var(--secondary);
  padding: 1rem 0;
}

#kawahvillas-related-stories {
  background-color: var(--support);
}

#kawahvillas-related-stories h2 {
  grid-column: 2 / span 10;
  padding: 2em 0;
  text-align: center;
}

#kawahvillas-related-stories .content {
  grid-column: 2 / span 10;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10em 6em 2em;
  min-height: 150vmin;
  background-image: url("../img/img_54.jpg");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

#kawahvillas-related-stories .slick-initialized .slick-slide {
  display: flex;
}

/* #endregion */

/* #region Large Mobile Styles */

@media screen and (min-width: 460px) {
  #banner .content {
    min-height: 135vmin;
  }

  #kawahvillas-related-stories .content {
    min-height: 135vmin;
  }
}

/* #endregion */

/* #region Tablet Styles */

@media screen and (min-width: 620px) {
  #banner .content {
    min-height: 120vmin;
  }

  #kawahvillas-related-stories .content {
    min-height: 120vmin;
  }
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  #banner .content {
    grid-column: 13 / span 156;
    min-height: 105vmin;
    padding: 0 30em 6em 4em;
  }

  #kawahvillas-article .content {
    grid-column: 19 / span 144;
  }

  #kawahvillas-related-stories h2 {
    grid-column: 13 / span 156;
  }

  #kawahvillas-related-stories .content {
    grid-column: 13 / span 156;
    min-height: 105vmin;
    padding: 0 30em 6em 4em;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1200px) {
  #banner .content {
    min-height: 90vmin;
  }

  #kawahvillas-related-stories .content {
    min-height: 90vmin;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  #banner .content {
    min-height: 75vmin;
  }
  
  #kawahvillas-related-stories .content {
    min-height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1680px) {
  #banner .content {
    min-height: 60vmin;
  }
  
  #kawahvillas-related-stories .content {
    min-height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Desktop Styles */

@media screen and (min-width: 1920px) {
  #banner .content {
    min-height: 45vmin;
  }
  
  #kawahvillas-related-stories .content {
    min-height: 45vmin;
  }
}

/* #endregion */

/* #region Full Desktop Styles */

@media screen and (min-width: 2240px) {
  #banner .content { 
    min-height: 30vmin;
  }
  
  #kawahvillas-related-stories .content {
    min-height: 30vmin;
  }
}

/* #endregion */