/* #region Mobile Styles */

#kawahvillas-blog-header {
  background-color: var(--support);
}

#kawahvillas-blog-header h1 {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  font-size: 3.5em;
}

#kawahvillas-blog-header p {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  font-size: 2em;
}

#kawahvillas-blog-filters {
  background-color: var(--support);
}

#kawahvillas-blog-result {
  background-color: var(--support);
}

#kawahvillas-blog-result .content {
  grid-column: 2 / span 10;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10em 6em 2em;
  min-height: 120vmin;
  background-image: url("../img/img_52.jpg");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  #kawahvillas-blog-header h1 {
    grid-column: 25 / span 66;
    grid-row: 1 / 2;
  }
  
  #kawahvillas-blog-header p {
    grid-column: 25 / span 66;
    grid-row: 2 / 3;
  }

  #kawahvillas-blog-result .content {
    grid-column: 13 / span 156;
    min-height: 105vmin;
    padding: 0 30em 6em 4em;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1200px) {
  #kawahvillas-blog-result .content {
    min-height: 90vmin;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  #kawahvillas-blog-result .content {
    min-height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1680px) {
  #kawahvillas-blog-result .content {
    min-height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Desktop Styles */

@media screen and (min-width: 1920px) {
  #kawahvillas-blog-result .content {
    min-height: 45vmin;
  }
}

/* #endregion */

/* #region Full Desktop Styles */

@media screen and (min-width: 2240px) {
  #kawahvillas-blog-result .content {
    min-height: 30vmin;
  }
}

/* #endregion */