/* #region Mobile Styles */

#kawahvillas-banner {
  background-color: var(--support);
}

#kawahvillas-banner .content {
  grid-column: 2 / span 10;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10em 6em 2em;
  min-height: 150vmin;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

#kawahvillas-blog-post {
  background-color: var(--support);
}

#kawahvillas-blog-post .content {
  grid-column: 3 / span 8;
}

#kawahvillas-blog-post .content span {
  padding: 0.5rem 0;
}

#kawahvillas-blog-post .content h2 {
  padding: 2rem 0;
}

#kawahvillas-blog-post .content p {
  color: var(--secondary);
  padding: 1rem 0;
}

#kawahvillas-related-posts {
  background-color: var(--support);
}

#kawahvillas-related-posts h2 {
  grid-column: 2 / span 10;
  padding: 2em 0;
  text-align: center;
}

#kawahvillas-related-posts .content {
  grid-column: 2 / span 10;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10em 6em 2em;
  min-height: 150vmin;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

#kawahvillas-related-posts .content p {
  color: var(--support);
  padding: 1rem 0;
}

#kawahvillas-related-posts .content .rt-reading-time,
#kawahvillas-related-posts .content .more-link,
#kawahvillas-related-posts .content .screen-reader-text {
  display: none !important;
}

#kawahvillas-related-posts .slick-initialized .slick-slide {
  display: flex;
}

/* #endregion */

/* #region Large Mobile Styles */

@media screen and (min-width: 460px) {
  #kawahvillas-banner .content {
    min-height: 135vmin;
  }

  #kawahvillas-related-posts .content {
    min-height: 135vmin;
  }
}

/* #endregion */

/* #region Tablet Styles */

@media screen and (min-width: 620px) {
  #kawahvillas-banner .content {
    min-height: 120vmin;
  }

  #kawahvillas-related-posts .content {
    min-height: 120vmin;
  }
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  #kawahvillas-banner .content {
    grid-column: 13 / span 156;
    min-height: 105vmin;
    padding: 0 30em 6em 4em;
  }

  #kawahvillas-blog-post .content {
    grid-column: 13 / span 156;
  }

  #kawahvillas-related-posts h2 {
    grid-column: 13 / span 156;
  }

  #kawahvillas-related-posts .content {
    grid-column: 13 / span 156;
    min-height: 105vmin;
    padding: 0 30em 6em 4em;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1200px) {
  #kawahvillas-banner .content {
    min-height: 90vmin;
  }

  #kawahvillas-related-posts .content {
    min-height: 90vmin;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  #kawahvillas-banner .content {
    min-height: 75vmin;
  }
  
  #kawahvillas-related-posts .content {
    min-height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1680px) {
  #kawahvillas-banner .content {
    min-height: 60vmin;
  }
  
  #kawahvillas-related-posts .content {
    min-height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Desktop Styles */

@media screen and (min-width: 1920px) {
  #kawahvillas-banner .content {
    min-height: 45vmin;
  }
  
  #kawahvillas-related-posts .content {
    min-height: 45vmin;
  }
}

/* #endregion */

/* #region Full Desktop Styles */

@media screen and (min-width: 2240px) {
  #kawahvillas-banner .content { 
    min-height: 30vmin;
  }
  
  #kawahvillas-related-posts .content {
    min-height: 30vmin;
  }
}

/* #endregion */