/* #region Mobile Styles */

#kawahvillas-contact-header {
  background-color: var(--support);
}

#kawahvillas-contact-header h1 {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  font-size: 3.5em;
}

#kawahvillas-contact-header p {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  font-size: 2em;
}

#kawahvillas-contact-help {
  background-color: var(--support);
}

#kawahvillas-contact-help .grid {
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kawahvillas-contact-help i {
  font-size: 8em;
}

#kawahvillas-contact-help i.fa-phone-volume {  
  transform: rotate(-45deg);
}

#kawahvillas-contact-help h2 {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  text-align: center;
}

#kawahvillas-contact-help .card-help {
  background-color: var(--secondary);
  margin: 3em 0;
  padding: 1em 2em 3em 2em;
  min-height: 75vmin;
  border-radius: 2em;
}

#kawahvillas-contact-help .card-help h5 {
  padding: 1.5rem;
}

#kawahvillas-contact-help .card-help span {
  font-size: 1.2em;
  margin: auto auto 0 auto;
}

#kawahvillas-contact-help #card-help-1 {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
}

#kawahvillas-contact-help #card-help-2 {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-contact-help #card-help-3 {
  grid-column: 3 / span 8;
  grid-row: 4 / 5;
}

#kawahvillas-contact-form {
  background-color: var(--support);
}

#kawahvillas-contact-form h2 {
  grid-column: 2 / span 10;
  grid-row: 1 / 2;
  padding: 2em 0;
  text-align: center;
}

#kawahvillas-contact-form input {
  border: 1px solid var(--secondary);
  margin: 0.5em 0;
  padding: 1em;
}

#kawahvillas-contact-form .contact-name {
  grid-column: 2 / span 10;
  grid-row: 2 / 3;
}

#kawahvillas-contact-form .contact-email {
  grid-column: 2 / span 10;
  grid-row: 3 / 4;
}

#kawahvillas-contact-form .contact-message {
  grid-column: 2 / span 10;
  grid-row: 4 / 5;
}

#kawahvillas-contact-form .button {
  grid-column: 2 / span 10;
  grid-row: 5 / 6;
  padding: 1em 3em;
  margin: 1em auto;
  border: 2px solid var(--primary);
  cursor: pointer;
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  #kawahvillas-contact-header h1 {
    grid-column: 25 / span 66;
    grid-row: 1 / 2;
  }
  
  #kawahvillas-contact-header p {
    grid-column: 25 / span 66;
    grid-row: 2 / 3;
  }

  #kawahvillas-contact-help h2 {
    grid-column: 13 / span 156;
    text-align: center;
  }

  #kawahvillas-contact-help .card-help {
    min-height: 50vmin;
  }
  
  #kawahvillas-contact-help #card-help-1 {
    grid-column: 25 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-contact-help #card-help-2 {
    grid-column: 71 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-contact-help #card-help-3 {
    grid-column: 117 / span 40;
    grid-row: 2 / 3;
  }

  #kawahvillas-contact-form h2 {
    grid-column: 25 / span 132;
    grid-row: 1 / 2;
  }
  
  #kawahvillas-contact-form .contact-name {
    grid-column: 25 / span 64;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-contact-form .contact-email {
    grid-column: 93 / span 64;
    grid-row: 2 / 3;
  }

  #kawahvillas-contact-form .contact-message {
    grid-column: 25 / span 132;
    grid-row: 4 / 5;
  }

  #kawahvillas-contact-form .button {
    grid-column: 13 / span 156;
    grid-row: 5 / 6;
  }
}

/* #endregion */