/* #region Mobile Styles */

#banner {
  background-color: var(--support);
}

#banner .content {
  grid-column: 2 / span 10;
  align-items: stretch;
  justify-content: flex-end;
  padding: 0 5.5em 5.5em 2em;
  min-height: 150vmin;
  background-image: url("../img/img_1.jpg");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: cover;
  box-shadow: inset 0 -20em 10em -10em var(--secondary);
}

#banner .content h1 {
  padding: 0.25em 0;
}

#kawahvillas-experience {
  background-color: var(--support);
}

#kawahvillas-experience .content {
  grid-column: 3 / span 8;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kawahvillas-experience .content img {
  width: 75px;
}

#kawahvillas-experience .content h2 {
  padding: 1em 0;
}

#kawahvillas-experience .content p {
  padding: 1em 0;
}

#kawahvillas-experience .content .line-border {
  border-bottom: 1px solid var(--primary);
  margin-top: 4em; 
  width: 12em;
}

#kawahvillas-travel {
  background-color: var(--support);
}

#kawahvillas-travel .grid {
  grid-template-rows: auto;
}

#kawahvillas-travel h2 {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  text-align: center;
}

#kawahvillas-travel .card-location {
  border: 1px solid var(--secondary);
  margin: 3em 0;
}

#kawahvillas-travel .card-location h3 {
  padding: 1.5rem;
  height: 2.5em;
}

#kawahvillas-travel .card-location p {
  padding: 1.5rem;
}

#kawahvillas-travel #card-location-1 {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
}

#kawahvillas-travel #card-location-2 {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-travel #card-location-3 {
  grid-column: 3 / span 8;
  grid-row: 4 / 5;
}

#kawahvillas-memberships-secondary {
  background-image: url("../img/img_14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 0;
}

#kawahvillas-memberships-secondary .grid {
  grid-template-rows: auto;
  min-height: 120vmin;
}

#kawahvillas-memberships-secondary h2 {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  text-align: center;
}

#kawahvillas-memberships-secondary .card-membership {
  background-color: var(--support);
  margin: 3em 0;
  padding: 1em 2em 3em 2em;
  text-align: center;
}

#kawahvillas-memberships-secondary .card-membership h3 {
  padding: 1em 0.5em;
}

#kawahvillas-memberships-secondary .card-membership .price {
  align-items: flex-end;
  justify-content: center;
  padding: 0.5em 0;
}

#kawahvillas-memberships-secondary .card-membership h4 {
  font-size: 4em;
  font-weight: 300;
}

#kawahvillas-memberships-secondary .card-membership span {
  font-size: 1.2em;
  padding-bottom: 0.2em;
}

#kawahvillas-memberships-secondary .card-membership ul {
  max-height: 150vmin;
  padding: 2em 0;
}

#kawahvillas-memberships-secondary .card-membership ul li {
  line-height: 1.5em;
  padding: 0.8em 0;
  text-align: left;
}

#kawahvillas-memberships-secondary .card-membership ul li .fa-check {
  color: var(--primary);
}

#kawahvillas-memberships-secondary .card-membership a {
  margin: auto auto 0 auto;
}

#kawahvillas-memberships-secondary #card-membership-1 {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
}

#kawahvillas-memberships-secondary #card-membership-2 {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-memberships-secondary #card-membership-3 {
  grid-column: 3 / span 8;
  grid-row: 4 / 5;
}

#kawahvillas-pass {
  background-color: var(--support);
}

#kawahvillas-pass .content {
  grid-column: 2 / span 10;
  align-items: center;
  justify-content: center;
  min-height: 150vmin;
  background-image: url("../img/img_15.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#kawahvillas-pass .content h2 {
  font-size: 1.4em;
  text-align: center;
}

#kawahvillas-pass .content h3 {
  padding: 1em 2em;
  text-align: center;
}

/* #endregion */

/* #region Large Mobile Styles */

@media screen and (min-width: 460px) {
  #banner .content {
    min-height: 135vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 135vmin;
  }
}

/* #endregion */

/* #region Tablet Styles */

@media screen and (min-width: 620px) {
  #banner .content {
    min-height: 120vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 120vmin;
  }
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  #banner .content {
    grid-column: 13 / span 156;
    align-items: center;
    justify-content: center;
    padding: 0;    
    min-height: 105vmin;
    box-shadow: none;
  }
  
  #kawahvillas-experience .content {
    grid-column: 49 / span 84;
  }
  
  #kawahvillas-travel h2 {
    grid-column: 13 / span 156;
  }
  
  #kawahvillas-travel #card-location-1 {
    grid-column: 25 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-travel #card-location-2 {
    grid-column: 71 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-travel #card-location-3 {
    grid-column: 117 / span 40;
    grid-row: 2 / 3;
  }

  #kawahvillas-memberships-secondary .grid {
    min-height: 0;
  }

  #kawahvillas-memberships-secondary h2 {
    grid-column: 13 / span 156;
  }

  #kawahvillas-memberships-secondary .card-membership {
    margin: 5em 0;
  }
  
  #kawahvillas-memberships-secondary #card-membership-1 {
    grid-column: 25 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-memberships-secondary #card-membership-2 {
    grid-column: 71 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-memberships-secondary #card-membership-3 {
    grid-column: 117 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-pass .content {
    grid-column: 19 / span 144;
    min-height: 105vmin;
  }
  
  #kawahvillas-pass .content h3 {
    padding: 1em 9em;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1200px) {
  #banner .content {
    min-height: 90vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 90vmin;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  #banner .content {
    min-height: 75vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1680px) {
  #banner .content { 
    min-height: 60vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Desktop Styles */

@media screen and (min-width: 1920px) {
  #banner .content { 
    min-height: 45vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 45vmin;
  }
}

/* #endregion */

/* #region Full Desktop Styles */

@media screen and (min-width: 2240px) {
  #banner .content { 
    min-height: 30vmin;
  }
  
  #kawahvillas-pass .content {
    min-height: 30vmin;
  }
}

/* #endregion */