/* #region Imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

/* #endregion */

/* #region Variables */

:root {
  --primary: #CAA14C;
  --secondary: #1E2831;
  --support: #FFFFFF;
}

/* #endregion */

/* #region Reset */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* #endregion */

/* #region Base Styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: block;
  background: var(--support);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.section-spacing {
  margin: 5rem 0;
}

.grid {
  display: grid;
}

.grid-item {
  padding: 1rem 0;
}

.flex {
  display: flex;
}

.flex-item {
  padding: 1rem 0;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-support {
  color: var(--support);
}

.text-bold {
  font-weight: 600;
}

.border-primary {
  border: 1px solid var(--primary);
  padding: 0.5rem;
}

.border-secondary {
  border: 1px solid var(--secondary);
  padding: 0.5rem;
}

.border-support {
  border: 1px solid var(--support);
  padding: 0.5rem;
}

.link, .button {
  transition: all 0.35s ease;
}

.button {
  background: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 1em 3em;
  text-transform: uppercase;
}

.button-primary-positive {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.button-primary-positive:hover {
  background: var(--primary);
  color: var(--support);
}

.button-primary-negative {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support);
}

.button-primary-negative:hover {
  background: var(--support);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.button-secondary-positive {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-secondary-positive:hover {
  background: var(--secondary);
  color: var(--support);
}

.button-secondary-negative {
  background: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--support);
}

.button-secondary-negative:hover {
  background: var(--support);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-support-positive {
  border: 2px solid var(--support);
  color: var(--support);
}

.button-support-positive:hover {
  background: var(--support);
  color: var(--secondary);
}

.button-support-negative {
  background: var(--support);
  border: 2px solid var(--support);
  color: var(--secondary);
}

.button-support-negative:hover {
  background: var(--secondary);
  border: 2px solid var(--support);
  color: var(--support);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.6em;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, label, p, li, a, span {
  font-weight: 300;
}

/* #endregion */

/* #region Mobile Styles */

body {
  font-size: 12px;
}

p, li {
  font-size: 0.8rem;
}

label, a, span {
  font-size: 1em;
}

.grid {
  grid-template-columns: repeat(12, 1fr);
}

.content-with-background {
  height: 175vmin;
}

.content-with-image {
  height: 120vmin;
}

.content-with-card-text {
  height: 120vmin;
}

.content-with-card-image {
  height: 105vmin;
}

header {
  background-color: var(--support);
}

footer {
  background-color: var(--secondary);
}

#footer-area {
  padding: 3em 0;
}

#footer-area h4 {
  padding: 0 0 1em 0;
}

#footer-area ul {
  padding: 2em 0 2em 0;
}

#footer-area ul li {
  padding: 0 1em 1.5em 0;
}

#footer-area ul li a {
  color: var(--support);
}

#footer-area ul li a:hover {
  color: var(--primary);
}

#footer-area ul li i {
  font-size: 2em;
}

#footer-area .logo {
  grid-column: 3 / span 4;
  grid-row: 1 / 2;
  align-items: center;
  padding: 1em 0 2em 0;
}

#footer-area .logo img {
  height: auto;
  width: 90%;
}

#footer-area .navigation {
  grid-column: 3 / span 4;
  grid-row: 3 / 4;
}

#footer-area .company {
  grid-column: 7 / span 4;
  grid-row: 3 / 4;
}

#footer-area .help {
  grid-column: 3 / span 4;
  grid-row: 4 / 5;
}

#footer-area .follow-us {
  grid-column: 7 / span 4;
  grid-row: 1 / 2;
}

#footer-area .follow-us h4 {
  display: none;
}

#footer-area .follow-us ul {
  justify-content: flex-end;
  align-items: center;
}

#footer-area .line-border {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  border-bottom: 1px solid var(--primary);
  margin: 0 0 4em 0;
  width: 100%;
}

#footer-copyright .content {
  grid-column: 3 / span 8;
  border-top: 1px solid var(--primary);
  padding: 3em 0;
}

/* #endregion */

/* #region Large Mobile Styles */

@media screen and (min-width: 460px) {
  body {
    font-size: 14px;
  }

  .content-with-background {
    height: 150vmin;
  }
}

/* #endregion */

/* #region Tablet Styles */

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }

  p, li {
    font-size: 1.2rem;
  }

  .content-with-background {
    height: 135vmin;
  }

  .content-with-card-text {
    height: 105vmin;
  }
}

/* #endregion */

/* #region Large Tablet Styles */

@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }

  .content-with-background {
    height: 120vmin;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1024px) {
  body {
    font-size: 12px;
  }

  p, li {
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: repeat(180, 1fr);
  }

  .content-with-background {
    height: 105vmin;
  }

  .content-with-image {
    height: 90vmin;
  }

  .content-with-card-text {
    height: 90vmin;
  }

  .content-with-card-image {
    height: 75vmin;
  }
  
  #footer-area {
    padding: 5em 0;
  }
  
  #footer-area .logo {
    grid-column: 19 / span 30;
    grid-row: 1 / 2;
    align-items: flex-start;
    padding: 0;
  }
  
  #footer-area .navigation {
    grid-column: 55 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .company {
    grid-column: 82 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .help {
    grid-column: 109 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .follow-us {
    grid-column: 136 / span 27;
    grid-row: 1 / 2;
  }

  #footer-area .follow-us h4 {
    display: block;
  }
  
  #footer-area .follow-us ul {
    justify-content: stretch;
  }
  
  #footer-area ul li {
    padding: 0 1em 1.5em 0;
  }

  #footer-area .line-border {
    display: none;
  }
  
  #footer-copyright .content {
    grid-column: 19 / span 144;
    padding: 3em 0;
  }
}

/* #endregion */

/* #region Large Laptop Styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }

  .content-with-background {
    height: 90vmin;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  body {
    font-size: 16px;
  }

  p, li {
    font-size: 1.4rem;
  }

  header > section > .grid,
  main > section > .grid,
  main > form > .grid,
  footer > section > .grid {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-with-background {
    height: 75vmin;
  }

  .content-with-card-text {
    height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1960px) {
  body {
    font-size: 18px;
  }

  .content-with-background {
    height: 60vmin;
  }

  .content-with-card-text {
    height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Styles */

@media screen and (min-width: 2240px) {
  body {
    font-size: 18px;
  }

  .content-with-background {
    height: 45vmin;
  }

  .content-with-card-text {
    height: 45vmin;
  }
}

/* #endregion */