/* #region Imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

/* #endregion */

/* #region Variables */

:root {
  --primary: #CAA14C;
  --secondary: #1E2831;
  --support: #FFFFFF;
}

/* #endregion */

/* #region Reset */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

/* #endregion */

/* #region Base Styles */

body {
  background: var(--support);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.section-spacing {
  margin: 4rem 0;
}

.grid {
  display: grid;
}

.grid-item {
  padding: 1rem 0;
}

.flex {
  display: flex;
}

.flex-item {
  padding: 1rem 0;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-support {
  color: var(--support);
}

.text-bold {
  font-weight: 600;
}

.button {
  background: transparent;
  display: inline-block;
  padding: 1em 3em;
  text-transform: uppercase;
}

.button-primary-positive {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.button-primary-positive:hover {
  background: var(--primary);
  color: var(--support);
}

.button-primary-negative {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support);
}

.button-primary-negative:hover {
  background: var(--support);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.button-secondary-positive {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-secondary-positive:hover {
  background: var(--secondary);
  color: var(--support);
}

.button-secondary-negative {
  background: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--support);
}

.button-secondary-negative:hover {
  background: var(--support);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-support-positive {
  border: 2px solid var(--support);
  color: var(--support);
}

.button-support-positive:hover {
  background: var(--support);
  color: var(--secondary);
}

.button-support-negative {
  background: var(--support);
  border: 2px solid var(--support);
  color: var(--secondary);
}

.button-support-negative:hover {
  background: var(--secondary);
  border: 2px solid var(--support);
  color: var(--support);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.6em;
}

label {
  font-size: 1.6em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

li {
  font-size: 1.2em;
}

a.button {
  font-size: 1em;
}

a.link {
  font-size: 0.8em;
}

h1, h2, h3, h4, label, p, li, a, span {
  font-weight: 300;
}

/* #endregion */

/* #region Mobile Styles */

body {
  font-size: 10px;
}

.grid {
  grid-template-columns: repeat(12, 1fr);
}

header {
  background-color: var(--support);
}

#navbar {
  padding: 2em 0;
}

#navbar .logo {
  grid-column: 2 / span 4;
}

#navbar .menu {
  display: none;
}

#navbar .menu a.link {
  color: var(--secondary);
  padding: 2em 1em;
}

#navbar .menu a.link:hover {
  color: var(--primary);
}

#navbar .menu a.button {
  font-size: 0.8em;
  padding: 0.75em 1.5em;
}

#navbar .menu .dropdown {
  display: inline-block;
  position: relative;
}

#navbar .menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--support);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 1em;
  min-width: 160px;
  z-index: 1;
}

#navbar .menu .dropdown-content li {
  font-size: 1em;
}

#navbar .menu .dropdown-content a {
  display: block;
  color: var(--secondary);
  padding: 1em;
  text-decoration: none;
}

#navbar .menu .dropdown-content a:hover {
  color: var(--primary);
}

#navbar .menu .dropdown:hover .dropdown-content {
  display: block;
}

#navbar .menu .dropdown .fa-chevron-down {
  color: var(--secondary);
  font-size: 0.7em;
  padding-left: 0.25em;
}

#navbar .menu .dropdown:hover .fa-chevron-down,
#navbar .menu .dropdown .fa-chevron-down:hover {
  color: var(--primary);
  cursor: pointer;
}

#banner {
  background-color: var(--support);
}

#banner .content {
  grid-column: 2 / span 10;
  align-items: stretch;
  justify-content: flex-end;
  padding: 0 5.5em 5.5em 2em;
  min-height: 125vmin;
  background-image: url("../img/img_6.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  box-shadow: inset 0 -20em 10em -10em var(--secondary);
}

#kawahvillas-exploration {
  grid-template-rows: auto;
  background-color: var(--support);
}

#kawahvillas-exploration .logo-without-text {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  width: 8em;
}

#kawahvillas-exploration h2 {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
}

#kawahvillas-exploration .image-with-text {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-exploration p {
  grid-column: 3 / span 8;
  grid-row: 4 / 5;
}

#kawahvillas-exploration .line-border {
  grid-column: 3 / span 8;
  grid-row: 5 / 6;
  border-bottom: 1px solid var(--primary);
  margin: 0 0 2em 0;
}

#kawahvillas-memberships-primary {
  grid-template-rows: auto;
  background-color: var(--support);
}

#kawahvillas-memberships-primary .header {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  align-items: center;
}

#kawahvillas-memberships-primary .card-membership {
  background-color: var(--support);
  border: 1px solid var(--primary);
  margin: 2em 0;
  padding: 1em 2em 3em 2em;
  text-align: center;
}

#kawahvillas-memberships-primary .card-membership h3 {
  padding: 1em 0.5em;
}

#kawahvillas-memberships-primary .card-membership .price {
  align-items: flex-end;
  justify-content: center;
}

#kawahvillas-memberships-primary .card-membership h4 {
  font-size: 4em;
  font-weight: 300;
}

#kawahvillas-memberships-primary .card-membership span {
  font-size: 1.2em;
  padding-bottom: 0.2em;
}

#kawahvillas-memberships-primary .card-membership ul {
  max-height: 150vmin;
}

#kawahvillas-memberships-primary .card-membership ul li {
  line-height: 1.5em;
  text-align: left;
}

#kawahvillas-memberships-primary .card-membership ul li .fa-check {
  color: var(--primary);
}

#kawahvillas-memberships-primary .card-membership a {
  margin: auto auto 0 auto;
}

#kawahvillas-memberships-primary #card-membership-1 {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
}

#kawahvillas-memberships-primary #card-membership-2 {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
}

#kawahvillas-memberships-primary #card-membership-3 {
  grid-column: 3 / span 8;
  grid-row: 4 / 5;
}

#kawahvillas-faq {
  background-color: var(--secondary);
  padding: 4em 0;
}

#kawahvillas-faq .grid {
  grid-template-rows: auto;
}

#kawahvillas-faq h2 {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
}

#kawahvillas-faq .line-border {
  border-bottom: 1px solid var(--primary);
  margin: 2em 0;
}

#kawahvillas-faq .tabs {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  overflow: hidden;
}

#kawahvillas-faq .tabs .tab {
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

#kawahvillas-faq .tabs .tab .tab-radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#kawahvillas-faq .tabs .tab .tab-label {
  cursor: pointer;
  padding: 1em 0;
}

#kawahvillas-faq .tabs .tab .tab-label::before {
  content: "\276F";
  color: var(--primary);
  padding: 0 1em;
  height: 1em;
  width: 1em;
  text-align: center;
  transition: all .35s;
}

#kawahvillas-faq .tabs .tab .tab-radio:checked ~ .tab-label::before {
  padding: 0 1em;
  transform: rotate(90deg);
}

#kawahvillas-faq .tabs .tab .tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all .35s;
}

#kawahvillas-faq .tabs .tab .tab-content img {
  max-height: 100vmin;
  max-width: 100%;
  height: auto;
  width: auto;
}

#kawahvillas-faq .tabs .tab .tab-radio:checked ~ .tab-content {
  max-height: 500vmin;
}

#kawahvillas-faq .image-with-text {
  display: none;
}

#kawahvillas-destinations {
  background-color: var(--support);
}

#kawahvillas-destinations .header {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kawahvillas-destinations .header img {
  width: 8em;
}

#kawahvillas-destinations .card-location {
  align-items: stretch;
  justify-content: flex-end;
  margin: 2em 0;
  min-height: 75vmin;
  box-shadow: inset 0 -15em 10em -10em var(--secondary);
}

#kawahvillas-destinations .card-location h3 {
  padding: 1.5rem;
}

#kawahvillas-destinations .card-location p {
  padding: 1.5rem;
}

#kawahvillas-destinations #card-location-1 {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  background-image: url("../img/img_35.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
}

#kawahvillas-destinations #card-location-2 {
  grid-column: 3 / span 8;
  grid-row: 3 / 4;
  background-image: url("../img/img_36.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
}

#kawahvillas-destinations #card-location-3 {
  grid-column: 3 / span 8;
  grid-row: 4 / 5;
  background-image: url("../img/img_37.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
}

#kawahvillas-destinations #card-location-4 {
  grid-column: 3 / span 8;
  grid-row: 5 / 6;
  background-image: url("../img/img_38.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
}

footer {
  background-color: var(--secondary);
}

#footer-area {
  padding: 3em 0;
}

#footer-area h4 {
  font-size: 1.4em;
  padding: 0 0 1em 0;
}

#footer-area ul {
  padding: 2em 0 2em 0;
}

#footer-area ul li {
  padding: 0 1em 1.5em 0;
}

#footer-area ul li a {
  color: var(--support);
}

#footer-area ul li a:hover {
  color: var(--primary);
}

#footer-area ul li i {
  font-size: 2em;
}

#footer-area .logo {
  grid-column: 3 / span 4;
  grid-row: 1 / 2;
  align-items: center;
  padding: 1em 0 2em 0;
}

#footer-area .logo img {
  height: auto;
  width: 75%;
}

#footer-area .navigation {
  grid-column: 3 / span 4;
  grid-row: 3 / 4;
}

#footer-area .company {
  grid-column: 7 / span 4;
  grid-row: 3 / 4;
}

#footer-area .help {
  grid-column: 3 / span 4;
  grid-row: 4 / 5;
}

#footer-area .follow-us {
  grid-column: 7 / span 4;
  grid-row: 1 / 2;
}

#footer-area .follow-us h4 {
  display: none;
}

#footer-area .follow-us ul {
  justify-content: flex-end;
  align-items: center;
}

#footer-area .line-border {
  grid-column: 3 / span 8;
  grid-row: 2 / 3;
  border-top: 1px solid var(--primary);
  margin: 0 0 4em 0; 
  width: 100%;
}

#footer-copyright .content {
  grid-column: 3 / span 8;
  border-top: 1px solid var(--primary);
  padding: 3em 0;
}

/* #endregion */

/* #region Tablet Styles */

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
}

/* #endregion */

/* #region Mini Laptop Styles */

@media screen and (min-width: 980px) {
  body {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: repeat(180, 1fr);
  }
  
  #navbar .logo {
    grid-column: 13 / span 24;
  }
  
  #navbar .menu {
    display: flex;
    align-items: center;
  }

  #navbar .menu-primary {
    grid-column: 55 / span 71;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  #navbar .menu-secondary {
    grid-column: 136 / span 33;  
    justify-content: space-between;
  }

  #navbar .menu a.button {
    font-size: 0.8em;
    padding: 0.5em 1em;
  }
  
  #banner .content {
    grid-column: 13 / span 156;
    align-items: center;
    justify-content: center;
    padding: 0;    
    min-height: 90vmin;
    box-shadow: none;
  }
  
  #kawahvillas-exploration .image-with-text {
    grid-area: 1 / 25 / span 3 / span 62;
    min-height: 100%;
  }
  
  #kawahvillas-exploration .logo-without-text {
    grid-column: 95 / span 62;
    grid-row: 1 / 2;
  }
  
  #kawahvillas-exploration h2 {
    grid-column: 95 / span 62;
    grid-row: 2 / 3;
  }

  #kawahvillas-exploration p {
    grid-column: 95 / span 62;
    grid-row: 3 / 4;
  }

  #kawahvillas-exploration .line-border {
    display: none;
  }

  #kawahvillas-memberships-primary .header {
    grid-column: 33 / span 116;
    grid-row: 1 / 2;
    text-align: center;
  }

  #kawahvillas-memberships-primary .header p {
    padding: 1em 8em;
  }
  
  #kawahvillas-memberships-primary #card-membership-1 {
    grid-column: 25 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-memberships-primary #card-membership-2 {
    grid-column: 71 / span 40;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-memberships-primary #card-membership-3 {
    grid-column: 117 / span 40;
    grid-row: 2 / 3;
  }

  #kawahvillas-faq {
    padding: 0;
  }
  
  #kawahvillas-faq h2 {
    grid-column: 13 / span 66;
    grid-row: 1 / 2;
    padding: 2em 2em 0 0;
  }
  
  #kawahvillas-faq .tabs {
    grid-column: 13 / span 66;
    grid-row: 2 / 3;
    font-size: 0.8em;
    padding: 0 2em 2em 0;
  }
  
  #kawahvillas-faq .tabs .tab .tab-content img {
    display: none;
  }

  #kawahvillas-faq .image-with-text {
    display: flex;
    grid-area: 1 / 91 / span 2 / span 90;
    min-height: 100%;
  }

  #kawahvillas-destinations .header {
    grid-column: 33 / span 116;
    grid-row: 1 / 2;
  }

  #kawahvillas-destinations .header p {
    padding: 1em 8em;
  }

  #kawahvillas-destinations .card-location {
    box-shadow: inset 0 -20em 10em -10em var(--secondary);
  }

  #kawahvillas-destinations #card-location-1 {
    grid-column: 13 / span 36;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-destinations #card-location-2 {
    grid-column: 53 / span 36;
    grid-row: 2 / 3;
  }
  
  #kawahvillas-destinations #card-location-3 {
    grid-column: 93 / span 36;
    grid-row: 2 / 3;
  }

  #kawahvillas-destinations #card-location-4 {
    grid-column: 133 / span 36;
    grid-row: 2 / 3;
  }

  #footer-area {
    padding: 5em 0;
  }
  
  #footer-area .logo {
    grid-column: 19 / span 30;
    grid-row: 1 / 2;
    align-items: flex-start;
    padding: 0;
  }
  
  #footer-area .navigation {
    grid-column: 55 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .company {
    grid-column: 82 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .help {
    grid-column: 109 / span 27;
    grid-row: 1 / 2;
  }
  
  #footer-area .follow-us {
    grid-column: 136 / span 27;
    grid-row: 1 / 2;
  }

  #footer-area .follow-us h4 {
    display: block;
  }
  
  #footer-area .follow-us ul {
    justify-content: stretch;
  }
  
  #footer-area ul li {
    padding: 0 1em 1.5em 0;
  }

  #footer-area .line-border {
    display: none;
  }
  
  #footer-copyright .content {
    grid-column: 19 / span 144;
    padding: 3em 0;
  }
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }

  #navbar a.button {
    padding: 0.75em 1.5em;
  }
}

/* #endregion */

/* #region Desktop Styles */

@media screen and (min-width: 1440px) {
  body {
    font-size: 16px;
  }

  .grid {
    margin: 0 auto;
    max-width: 1440px;
  }

  .grid-spacing {
    margin: 4em auto;
  }

  #banner .content { 
    min-height: 75vmin;
  }
}

/* #endregion */

/* #region Large Desktop Styles */

@media screen and (min-width: 1680px) {
  body {
    font-size: 18px;
  }

  #banner .content { 
    min-height: 60vmin;
  }
}

/* #endregion */

/* #region Extra Desktop Styles */

@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }

  #banner .content { 
    min-height: 45vmin;
  }
}

/* #endregion */