/* #region Mobile Styles */

#kawahvillas-villa-gallery {
  background-color: var(--support);
}

#kawahvillas-villa-gallery .content {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4em 4em 2em;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

#kawahvillas-villa-gallery .slick-initialized .slick-slide {
  display: flex;
}

#kawahvillas-villa-description {
  grid-column: 2 / span 10;
}

#kawahvillas-villa-description .description-text .description-villa {
  font-size: 3em;
}

#kawahvillas-villa-description .description-text .description-location {
  font-size: 1.5em;
}

#kawahvillas-villa-description .description-text .description-amenities {
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: space-between;
  font-size: 1.25em;
}

#kawahvillas-villa-booking {
  grid-column: 2 / span 10;
}

#kawahvillas-villa-booking .flex {
  align-items: center;
  padding: 2em 2em 4em 2em;
  margin: 4em 0;
  border: 1px solid var(--primary);
}

#kawahvillas-villa-tabs {
  grid-column: 2 / span 10;
}

#kawahvillas-villa-tabs ul li {
  text-align: center;
}

#kawahvillas-villa-tabs ul li a {
  width: 100%;
  padding: 1.5em 0;
}

#kawahvillas-villa-tabs [role=tablist] {
  width: 100%;
  border: none;
}

#kawahvillas-villa-tabs [role=tab] {
  border: none;
}

#kawahvillas-villa-tabs [role=tab]:hover {
  background-color: transparent;
}

#kawahvillas-villa-tabs [role=tab]:focus {
  outline: none;
}

#kawahvillas-villa-tabs [role=tab][aria-selected=true] {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
  outline: none;
}

#kawahvillas-villa-tabs .tab-overview {
  grid-column: 1 / span 4;
}

#kawahvillas-villa-tabs .tab-features {
  grid-column: 5 / span 4;
}

#kawahvillas-villa-tabs .tab-location {
  grid-column: 9 / span 4;
}

#kawahvillas-villa-overview {
  grid-column: 2 / span 10;
}

#kawahvillas-villa-features {
  grid-column: 2 / span 10;
}

#kawahvillas-villa-bedding {
  grid-column: 2 / span 10;
}

#kawahvillas-villa-location {
  grid-column: 2 / span 10;
}

/* #endregion */

/* #region Laptop Styles */

@media screen and (min-width: 1024px) {
  #kawahvillas-villa-description {
    grid-column: 13 / span 72;
  }

  #kawahvillas-villa-booking {
    grid-area: 1 / 91 / span 3 / span 78;
  }

  #kawahvillas-villa-booking .flex {
    margin: 0;
  }
  
  #kawahvillas-villa-tabs {
    grid-column: 13 / span 72;
  }

  #kawahvillas-villa-tabs .tab-overview {
    grid-column: 1 / span 60;
  }
  
  #kawahvillas-villa-tabs .tab-features {
    grid-column: 61 / span 60;
  }
  
  #kawahvillas-villa-tabs .tab-location {
    grid-column: 121 / span 60;
  }
  
  #kawahvillas-villa-overview {
    grid-column: 13 / span 72;
    min-height: 100vh;
  }
  
  #kawahvillas-villa-features {
    grid-column: 13 / span 72;
  }
  
  #kawahvillas-villa-bedding {
    grid-column: 13 / span 72;
  }
  
  #kawahvillas-villa-location {
    grid-column: 13 / span 72;
    min-height: 100vh;
  }
}

/* #endregion */