/* #region Mobile Styles */

header .wrapper .grid {
  justify-content: center;
  height: auto;
  padding: 2rem 0;
}

header .wrapper .grid .logo {
  grid-column: 2 / span 4;
  outline: none;
}

header .wrapper .grid .opened-menu {
  grid-column: 11 / span 1;
}

header .wrapper .grid .navbar {
  position: relative;
  height: auto;
  margin: 0;
}

header .wrapper .grid .navbar .menu {
  grid-column: 1 / span 12;
}

header .wrapper .grid .navbar .menu > .menu-item {
  position: relative;
  display: inline-block;
}

header .wrapper .grid .navbar .menu > .menu-item > a {
  display: block;
}

header .wrapper .grid .navbar .menu > .menu-item > a.link {
  padding: 1rem 0;
}

header .wrapper .grid .navbar .menu > .menu-item > a.button {
  padding: 0.75em 1.5em;
}

header .wrapper .grid .navbar .menu > .menu-item:hover > a.link {
  color: var(--primary);
}

header .wrapper .grid .navbar .menu > .menu-item > .sub-menu > .menu-item > a:hover {
  color: var(--primary);
}

header .wrapper .grid .navbar .menu > .menu-item > .sub-menu {
  position: absolute;
  left: -1rem;
  top: 100%;
  width: 13rem;
  height: auto;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  border-top: 1px solid var(--primary);
  background: var(--support);
  transform: translateY(1rem);
  transition: all 0.35s ease;
  z-index: 999;
}

header .wrapper .grid .navbar .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}

header .wrapper .grid .navbar .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 0.5rem 1.25rem;
  color: var(--secondary);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease;
}

header .wrapper .grid .opened-menu {
  position: relative;
  display: none;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: all 0.35s ease;
}

header .wrapper .grid .opened-menu > i {
  font-size: 3em;
}

header .wrapper .grid .closed-menu {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

header .wrapper .grid .closed-menu i.closed-icon {
  display: block;
  width: 1rem;
  height: auto;
}

header .wrapper .grid .overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.35s ease;
}

@media only screen and (max-width: 1023px) {
  header .wrapper .grid .navbar {
    position: fixed;
    top: 0;
    left: -18rem;
    width: 18rem;
    height: 100%;
    padding: 1rem 0;
    z-index: 999;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    background: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.5s ease;
  }

  header .wrapper .grid .navbar.active {
    padding: 1rem;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  header .wrapper .grid .navbar::-webkit-scrollbar {
    width: 5px;
  }

  header .wrapper .grid .navbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #e6e6e6;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
  }

  header .wrapper .grid .navbar i {
    font-size: 1rem;
  }

  header .wrapper .grid .navbar .menu {
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
  }
  
  header .wrapper .grid .navbar .menu > .menu-item {
    display: block;
    margin: 0;
  }

  header .wrapper .grid .navbar .menu > .menu-item-has-children {
    position: relative;
  }

  header .wrapper .grid .navbar .menu > .menu-item-has-children > i {
    position: absolute;
    top: 1rem;
    right: 0;
    cursor: pointer;
  }

  header .wrapper .grid .navbar .menu > .menu-item-has-children > i:hover {
    color: var(--primary);
  }
  
  header .wrapper .grid .navbar .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .wrapper .grid .navbar .menu > .menu-item-has-children > a > i {
    display: none;
  }
  
  header .wrapper .grid .navbar .menu > .menu-item > a {
    padding: 0.75rem 1rem;
  }

  header .wrapper .grid .navbar .menu > .menu-item > .sub-menu {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    background: transparent;
    box-shadow: none;
    transform: translateY(0px);
  }

  header .wrapper .grid .navbar .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 0.75rem 2rem;
  }

  header .wrapper .grid .navbar .menu.menu-secondary {
    position: absolute;
    text-align: center;
    bottom: 1rem;
  }

  header .wrapper .grid .navbar .menu.menu-secondary > .menu-item > a {
    margin: 1rem 0;
  }

  header .wrapper .grid .opened-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  header .wrapper .grid .closed-menu {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
  }

  header .wrapper .grid .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* #endregion */

/* #region Mini Laptop Styles */

@media only screen and (min-width: 1024px) {
  header .wrapper .grid {
    align-items: center;
  }

  header .wrapper .grid .logo {
    grid-column: 13 / span 24;
  }

  header .wrapper .grid .navbar {
    grid-column: 50 / span 119;
    justify-content: space-between;
  }

  header .wrapper .grid .navbar i {
    font-size: 0.75em;
  }

  header .wrapper .grid .navbar .menu .menu-item {
    font-size: 1em;
  }

  header .wrapper .grid .navbar .menu .menu-item > a {
    font-size: 1em;
  }

  header .wrapper .grid .navbar .menu .menu-item > a.button {
    padding: 0.5em 1em;
  }

  header .wrapper .grid .navbar .menu-primary {
    grid-column: 1 / span 125;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header .wrapper .grid .navbar .menu-secondary {
    grid-column: 136 / span 45;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header .wrapper .grid .navbar .menu > .menu-item-has-children > i {
    display: none;
  }

  header .wrapper .grid .navbar .menu > .menu-item-has-children > a:hover > i,
  header .wrapper .grid .navbar .menu > .menu-item-has-children > a > i:hover {
    color: var(--primary);
  }
  
  header .wrapper .grid .navbar .menu > .menu-item-has-children:hover > .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/* #endregion */